/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap"); */
nav {
  width: 100vw;
  height: 5rem;
  /* border: 2px solid red; */
  font-family: "Poppins", sans-serif;
  position: fixed;
  z-index: 10;
  background-color: #fff;
}

.nav-img {
  width: 70px;
  height: 80px;
}
.toggle {
  /* background-color: #fff; */
  background-color: #e7e7e7;
}
.navbar-ul.toggle {
  background-color: transparent;
}
.nav-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.active > .nav-items {
  color: #0087ca;
}
.nav-items::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-items:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
ul {
  display: flex;
  flex-flow: row nowrap;
  padding: 0px 0px 0px 10rem;
  background-color: transparent;
  /* border-top: 1px solid red; */
}
.link {
  padding: 0 4rem 0 0;
}

.nav-items {
  list-style: none;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 100;
  cursor: pointer;
  position: relative;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn1 {
  /* height: 12rem; */
  margin-right: 0.5rem;
  background-color: transparent;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
}
.btn1 svg {
  font-size: 1.5rem;
}
.hamburger {
  display: none;
}

.btn2 {
  border: 2px solid #0087ca;
  background-color: transparent;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.5rem 2rem 0.5rem 2rem;
  /* font-family: "Poppins", sans-serif; */
}

/* media query start  */

@media screen and (max-width: 700px) {
  nav {
    width: 100%;
    height: 6.1rem;
    transition: 0.5s;
    /* overflow: hidden; */
  }
  .nav-img {
    width: 83px;
    height: 74px;
  }
  .nav-main {
    padding: 1rem 0rem 0rem 3rem;
  }
  .nav-content {
    justify-content: space-between;
  }
  .navbar-ul.toggle {
    background-color: #e7e7e7;
  }
  #navbar-btn {
    display: none;
  }
  .link {
    padding: 0.2rem 4rem;
  }
  ul {
    flex-flow: column nowrap;
    position: absolute;
    /* justify-content: space-evenly; */
    background-color: white;
    top: 5.1rem;
    right: 0;
    height: 93vh;
    width: 100%;
    transition: 0.5s;
    animation: slide 0.5s;
    visibility: visible;
    /* animation-fill-mode: forwards; */
    /* opacity: 0; */
  }

  @keyframes slide {
    0% {
      transform: translateX(100%);
      opacity: 0;
      display: none;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
      display: block;
    }
  }
  @keyframes slide-none {
    0% {
      transform: translateX(0%);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
      display: none;
    }
  }

  .none {
    animation: slide-none 0.5s;
    animation-fill-mode: forwards;
  }

  .nav-items {
    margin: 4rem;
    font-size: 2rem;
  }

  .btn1 svg {
    font-size: 2.5rem;
  }
  .hamburger {
    display: block;
    margin-right: 0.5rem;
    background-color: transparent;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all 0.5s;
  }
  .hamburger svg {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 500px) {
  .nav-img {
    width: 66px;
    height: 58px;
  }
  .btn1 svg {
    font-size: 2.2rem;
  }
  .hamburger svg {
    font-size: 3rem;
  }
}
@media screen and (max-width: 350px) {
  .nav-img {
    width: 57px;
  }
  .btn1 svg {
    font-size: 2rem;
  }
  .hamburger svg {
    font-size: 2.8rem;
  }
}
